<a href="https://colab.research.google.com/github/sidhyaashu/Kaggle_ML_project/blob/master/Titanic_Machine_Learning_from_Disaster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
gender_df = pd.read_csv('/content/dataset/gender_submission.csv')
test_df = pd.read_csv('/content/dataset/test.csv')
train_df = pd.read_csv('/content/dataset/train.csv')

In [6]:
train_df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [7]:
women = train_df.loc[train_df.Sex == 'female']["Survived"]
print(len(women))
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

314
% of women who survived: 0.7420382165605095

In [8]:
men = train_df.loc[train_df.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
y = train_df["Survived"]
features = ["Pclass","Sex","SibSp","Parch"]
x = pd.get_dummies(train_df[features])
x_test = pd.get_dummies(test_df[features])

In [25]:
model = RandomForestClassifier(n_estimators=100,max_depth=5,random_state=42)
model.fit(x,y)
score = model.score(x,y)
# print(score)
predictions = model.predict(x_test)

In [16]:
output = pd.DataFrame({'PassengerId':test_df.PassengerId,'Survived':predictions})
output.to_csv('submission.csv',index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!